<!DOCTYPE html>
<html>
<head>
    <title>CollegePay</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container">
    <div class="header">
        <h1>PUpay</h1><br>
        <p>Secure Online Fee Payment</p>
    </div>

    <div class="card">
        <p style="text-align:center;color:#9ca3af;">
            Pay your college fees instantly and securely.
        </p>
        <br>
        <a href="/login">
            <button>Student Login</button>
        </a>
    </div>

    <div class="footer">
        © Faster & Easier
    </div>
</div>

</body>
</html>
